name: Deploy Flutter Web to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Install Flutter SDK
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      # Verify Flutter installation
      - name: Flutter Doctor
        run: flutter doctor

      # Install dependencies
      - name: Flutter Pub Get
        run: flutter pub get

      # Build Flutter Web
      - name: Build Web
        run: flutter build web --release

      # Deploy to Firebase
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_BOOPATHI_376 }}
          channelId: live
          projectId: boopathi-376
